/* Le style du produit gagnant */
.root-winner-highlight {
    outline: 4px solid #FF9900 !important;
    outline-offset: 4px !important;
    box-shadow: 0 0 25px rgba(255, 153, 0, 0.4) !important;
    border-radius: 8px !important;
    transition: all 0.3s ease-in-out !important;
    position: relative !important;
    z-index: 100 !important;
}

/* Le style de la mascotte Rootine */
#root-mascot {
    position: absolute !important;
    z-index: 999999 !important;
    pointer-events: auto !important;
    cursor: pointer !important;
    width: 64px !important; 
    height: auto !important;
    image-rendering: pixelated !important;
    opacity: 0;
}

/* Gère la direction vers laquelle il regarde (droite ou gauche) */
#root-mascot.flip {
    transform: scaleX(-1) !important;
}